## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [5]:
import pandas as pd
import numpy as np

In [26]:
data = {'國家': ['Japan',
        'Taiwan',
        'China'],
        '人口': np.random.randint(100000000,size=3)}
data = pd.DataFrame(data)

In [27]:
data

       國家        人口
0   Japan  56375929
1  Taiwan  92264440
2   China  55914179

In [51]:
print(data.loc[data['人口'].idxmax()])
max_idx = data['人口'].idxmax()
print(max_idx)

國家      Taiwan
人口    92264440
Name: 1, dtype: object
1

In [50]:
print(f'''人口最多的國家 : {data['國家'][max_idx]} 總人口數 : {data['人口'][max_idx]}
      '''
)

人口最多的國家 : Taiwan 總人口數 : 92264440